<br>
<h3 class="text-center">Únete a la iniciativa que esta transformando vidas y
comparte tus vivencias para facilitar el aprendizaje</h3>
<br>
<div class="row">
  <div class="col-md-2">
    <%= image_tag "user1.jpg", class:"img-fluid" %>
    <h5>Myriam Vega</h5>
    <h6>Valledupar</h6>
  </div>
  <div class="col-md-2">
    <%= image_tag "user2.jpg", class:"img-fluid" %>
    <h5>Eneida Olivella</h5>
    <h6>Medellin</h6>
  </div>
  <div class="col-md-2">
    <%= image_tag "user3.jpg", class:"img-fluid" %>
    <h5>Elisa Royero</h5>
    <h6>Bogotá</h6>
  </div>
  <div class="col-md-2">
    <%= image_tag "user1.jpg", class:"img-fluid" %>
    <h5>Patricia Moron</h5>
    <h6>Cali</h6>
  </div>
  <div class="col-md-2">
    <%= image_tag "user2.jpg", class:"img-fluid" %>
    <h5>Jaiver Rojas</h5>
    <h6>Leticia</h6>
  </div>
  <div class="col-md-2">
    <%= image_tag "user3.jpg", class:"img-fluid" %>
    <h5>Jhon Corzo</h5>
    <h6>Bucaramanga</h6>
  </div>
</div>
<!-- Suscripción mailchimp-->
<section id="newsletter">
  <div class="container"> 
    <div class="row text-center">
      <div class="col-10 offset-1">
        <br>
        <h4>Quiero saber de eventos y noticias del proyecto</h4>
        <br>
        <div class="form-group">
          <input type="email" class="form-control col-8 offset-2 text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su e-mail">
          <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con otra persona.</small>
          <br>
          <a class="btn btn-primary" href="#" role="button">Suscribirse</a>
        </div>
      </div>
    </div>
  </div>  
</section>